.heroTextBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #12161c;
  color: #447c9c;

  margin-top: 240px;
  gap: 30px;
}

.heroName {
  color: #aad8f1;
}

.heroText {
  margin: 0px;
}
